* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
body {
  width: 100%;
  font-family: "Poppins", sans-serif;
}

body.aboutus-bg { 
  width: 100%;
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
  url(images/pexels-photo-1739748.jpeg);
  background-size: cover;
  position: relative;
  font-family: "open Sans", sans-serif;
  
}

body.main-bg { 
  background-color: rgba(218, 214, 214, 0.39);
}

.shoppingcart-bg {
  background-color: rgba(218, 214, 214, 0.39);
}

header.home-page {  /*Background image only applied to homepage.*/
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
  url(images/whitecake.png.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

header.products-header {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient( rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/kakkupalat.png.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}


#home {
  color: grey;
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Sacramento&display=swap');
  font-family: 'Dancing Script', cursive;
  font-family: 'Sacramento', cursive;
  font-style: italic;
  position: absolute;
  line-height: 60px; /* Changed from 30px to 60px.*/
  float: left;
  margin: 16px 35px;
  font-weight: bold;
  font-size: 20px;
}

#home:hover { /* Changed the on hover white background to more subtle effect.*/
  transform: translateY(0) scale(1.2);
  letter-spacing: 0.1rem;
  transition: 0.7s;
  letter-spacing: 10px;

}

#home a {
  text-decoration: none;
  color: grey;
}

nav { 
  position: absolute; /*Changed to absolute so it hides on scroll.*/
  width: 100%;
  line-height: 60px;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: transparent;
  color: rgb(247, 242, 242);
  overflow: hidden;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 35px;
  transition: 1s;
}

nav ul li {
  display: inline-block;
  padding: 16px 35px;
}

nav ul li a {
  text-decoration: none;
  color: grey;
  font-size: 15px;
}

nav ul li:hover {
  transform: translateY(0) scale(1.2);
}

.text-box {
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
  overflow: hidden;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: white;
}

/*----downheader-----*/
.downheader {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 100px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row {
  margin: 5%;
  display: flex;
  justify-content: space-between;
}
.laivokset-col {
  flex-basis: 31%;
  background: rgb(247, 242, 242);
  border-radius: 10px;
  margin-top: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.laivokset-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

/*-------- leivokset-----*/

.leivokset {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.kakut-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.kakut-col img {
  width: 100%;
  display: block;
  size: unset;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: rgba(212, 201, 201, 0.7);
}
.layer h3 {
  width: 100%;
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

/* Contact Us styles */

.form h1,
h4 {
  margin: 1rem;
}

main {
  width: 80%;
  margin: auto;
  padding: 100px;
}

fieldset {
  margin-top: 2.5rem;
  padding: 2rem;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 0.25rem;
}

legend {
  color: #6e8035;
  font-weight: bold;
}

input[type="text"], /* tämän avulla tyylitys vaikuttaa vain input osioihin joissa tyyppi on teksti */
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 0.25rem; /* pyöristää reunoja */
}

#attendees { /* I added some more padding to the left to make it even.*/
  padding-left: 1.6px;
}

#wouldya-order {
    padding-left: 1.6px;
}

#additional-info {
  padding-left: 1.6px;
}

#survey-form{ /* I added this so the form isn't glued to the bottom of the page. */
  padding-bottom: 70px;
}

.formBtn {
  background-color: #6e8035;
  color: rgb(247, 247, 247);
  font-weight: bold;
  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}

.formBtn:hover {
  background-color: #5d6e25;
}

.product{
	width: 85%;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
	display: flex;
	margin:30px auto;
	flex-direction: column;
	align-items: center;
	padding:40px 20px;
	margin-top: -60px;
	position: relative;
	background-image: url("../images/poduct bg.png");
	background-size:1000px;
	background-position: center;
	border-radius: 10px;
 
}
 
 
.p-heading{
	margin:20px;
	text-shadow: 2px 2px 10px rgba(0,0,0,0.05);
}
.p-heading h3{
	font-family: myriad pro;
	font-weight: 700;
	letter-spacing: 2px;
	text-align: center;
	font-size:2rem;
	color:#323543;
 
}
.p-heading h3 font{
	color:#8c84f9;
}
.product-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 10px 0px;
	width:100%;
}
.p-box{
	width:250px;
	height: 330px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 4px;
	position: relative;
	margin: 10px 30px;
}
.p-box img{
	height:180px;
}
.p-box p{
	color:#4d4d4d70;
	font-family: myriad pro;
	font-size: 0.9rem;
	letter-spacing: 0.5;
}
.price{
	color:#2c2c2c;
	font-family: poppins;
	font-size: 1rem;;
}
.buy-btn{
	position: absolute;
	width:140px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family:calibri;
	left: 50%;
	bottom: -20px;
	transform: translateX(-50%);
	border-radius: 15% 15% 15% 15% / 50% 50% 50% 50%;
	background:linear-gradient(120deg,#6b60ec 20%,#a166f4);
	color:#FFFFFF;
	display: none;
	animation: fade 0.2s;
}
.p-box:hover .buy-btn{
	display: flex;
}
.p-box:hover{
	box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
	background-color:#FFFFFF;
}
.p-box:hover .price{
	color:#6b60ec;
	transition: all ease 0.2s;
}
 
@keyframes fade{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
 
.our-brand{
	display: flex;
	width: 85%;
	margin:30px auto;
	justify-content: space-around;
	align-items: center;
	padding:30px;
}
.brand-text{
	width:40%;
	font-family:myriad pro;}
.brand-img{
	height: 500px;
	width: 50%;
	box-sizing: border-box;
}
.brand-img img{
	width:100%;
	height: 100%;
	object-fit:contain;
}
.brand-text h3{
	color:#333333;
	font-weight: 700;
	font-size:3rem;
	margin:0px;
}
.brand-text h4{
	color: #333333;
	font-weight: 400;
	font-size:2rem;
	margin:0px;
}
.brand-text font{
	color:#8d83f9;
}
.brand-text p{
	font-size: 1rem;
	color:#bdbdbd;
	letter-spacing: 0.5px;
}
.subcribe-container{
width:100%;	
height:250px;
margin-bottom:30px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-bottom: 2px solid rgba(0,0,0,0.03);
}
.subcribe-container h3{
font-size: 2rem;
color: rgb(56, 56, 56);
}


/*------FOOTER------*/

footer.first-foot { /* Applied to all pages except aboutus.html*/
  margin-top: 15%;
  padding-top: 15px;
  display: flex;
  background-color: rgb(143, 140, 140, 0.5);
}
.footer_internal_links,
.footer_internal_links a {
  color: black;
  white-space: nowrap;

}
.footer_social_media {
  display: flex;
  justify-content: space-around;
  padding-left: 7%;
}
.footer_social_media img {
  width: 15%;
}
.footer_contact_info {
  padding-right: 30px;
}
.copyright {
  background-color: rgb(143, 140, 140, 0.5);
  display: flex;
  justify-content: center;
  margin: 0;
}


/* About us style*/
.about-section {
  background: url(./images/Untitled-4.jpg) no-repeat left;
  background-size: 57%;
  overflow: hidden;
  padding: 300px 0;
}

.inner-section {
  width: 55%;
  float: right;
  background: linear-gradient( rgb(69, 65, 40), rgb(190, 184, 168));
  padding: 23px;
}

.inner-section h1 {
  margin-bottom: 30px;
  font-weight: 900;
}

.about-text {
  font-size: 13px;
  line-height: 30px;
  text-align: justify;
}

/*About us footer*/
footer.aboutus-foot {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 15px;
  width: 100%;
  background-color: transparent;
  color: grey;
  text-align: center;
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
  padding-left: 20px;
}

.footer-links a {
  text-decoration: none;
  color: grey;
}

.footlink1:hover {
  transform: translateY(0) scale(1.2);
  letter-spacing: 0.2rem;
  transition: 0.5s;
}

.footlink2:hover {
  transform: translateY(0) scale(1.2);
  letter-spacing: 0.2rem;
  transition: 0.5s;
}

.footlink3:hover {
  transform: translateY(0) scale(1.2);
  letter-spacing: 0.2rem;
  transition: 0.5s;
}

.fa {
  padding: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* Shopping cart styles */

.flex {
display: flex;
flex-direction: row;
}
.shopping-basket {
margin-top: 130px;
  margin-left: 30px;
  
  
}

.left-box {
  height: 500px;
  width: 60%;
  float: left;
  background-color: white;
  margin-left: 30px;
  margin-top: 20px;
 
 
}

.left-box p {
margin-top: 30px;
}

.left-box .one img {
  margin-top: 15px;
  margin-left: 5px;
height: 150px;
}

.left-box .one {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.left-box .two {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.left-box .three {
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
  margin-right: 20px;
margin-bottom: 20px;
}

.left-box p {
  margin: 10px;
}

 .right-box {
  height: 500px;
  width: 34%;
  float: right;
  background-color: white;
  margin-top: 20px;
  margin-right: 30px;
  margin-left: 30px;
  text-align: center;
  justify-content: center;
align-items: center;
display: flex;
 }



 
/* The goal of responsive wed design is to create web pages that look good on all devices.
   It is about using HTML and CSS to automatically for example to resize a website to fit a particular device.

   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   Use this to set the viewport which will give the browser all the necessary instructions.
   
   Use @media rule to include a block of CSS properties only if a certain condition is true.
   Add a breakpoint where certain parts of the design will behave differently.
*/

/*@media screen and (max-width:768px*/
